body {
    .disable-margin-padding {
        margin: 0;
        padding: 0;
        padding-bottom: 3px;
    }
    
    #contactBar {
        background-color: black;
        color: $white;
        p {
            padding: 15px 0 10px 0;
        }
    }
    
    a#indiegogo {
    	color: $grey-default;
    	font-weight: bold;
    	text-decoration: none;
    	:hover {
    	color: $ui-blue-dark;
        }
        h3 {    
            font-weight: bold;
        }
    }
    
    .sm-indiegogo {
        margin-top: 40px;
    }
    
    #indexTout {
        margin-top: 45px;
        background: transparent url('/img/index-bg.png') 0 0 repeat scroll;
    }
    
    #productsGrid {
        h4 { 
            font-size: 1.5em;
            color: $ui-blue;
            font-weight: bold;
        }
        .bottom-half {
            margin-top: 20px
        }
    }

    #welcomeModal {
        h2 {
            font-family: "Open Sans Condensed";
            font-weight: bold;
            text-transform: uppercase;
            span {
                color: $ui-purple-red;
            }
        }

        button {
            color: white;
            text-transform: uppercase;
        }

        input {
            background: #eee;
            border: none;
        }

        .btn.btn-wide {
            padding: 6px 48px;
        }

        button:hover {
            color: white;
        }
    }

    #videoModal {
        .modal-body {
            padding: 0;
        }
    }

    @media (min-width: 768px) {
        .modal-dialog {
            width: 562px;
            margin: 30px auto;
        }        
    }

    @media (max-width: 730px) {
        #productsGrid {
            .bottom-half {
                margin-top: 5px
            }
        }
        
    }

}