body {
    .platform-bubbles {
        h3 {
			  display: inline-block;
			  padding: 38px 0;
			  height: 100px;
			  width: 100px;
			  border-radius: 50%;
			  line-height: 1;
              background: $ui-purple-light;
        }
    }

    .btn {
        padding: 0;
    }

    .btn,
    .btn:hover,
    .btn:focus {
        a {
            color: $white;
            text-decoration: none;
            padding-top: 13px;
            padding-bottom: 13px;
            padding-left: 12px;
            padding-right: 12px;
            width: 100%;
            display: block;
        }

        h5 {
            margin-top: 0;
            margin-bottom: 0;
        }
    }

    .col-no-padding {
    	padding: 0;
    }

    .glyphicon-lg {
    	font-size: 60px;
    	padding-top: 36px;
    }
}